<!--<div class="container m-0 mw-100">
  <div class="row row-cols-3">
    <div class="col">
      <img id="video1" src="../../../assets/b2.jpeg" alt="" width="100%" />
    </div>
    <div class="col">
      <video
        src="../../../assets/whats.mp4"
        autoplay
        loop
        muted
       
      ></video>
    </div>
    <div class="col">
      <img id="video1" src="../../../assets/b22.jpeg" alt="" width="100%" />
    </div>
  </div>
</div>-->
<img
  id="video"
  class="mw-100"
  src="../../../assets/WhatsApp Image 2023-01-24 at 18.32.54.jpeg"
/>
<h1 id="textHero" class="text-center w-25">
  ¿Listo para darle una reforma a tu hogar? <br />
  <button id="btnInicio" class="btn">Calcula tu presupuesto</button>
</h1>

<div class="container mw-100">
  <div class="row row-cols-xl-2 row-cols-1">
    <div class="col">
      <h2 class="p-5 m-5 text-center" id="hSobreNosotros">Sobre nosotros</h2>
    </div>
    <div>
      <p class="pe-5 pt-5 pb-5 me-5 mt-5 mb-5" id="pSobreNosotros">
        Somos una empresa con más de 18 años de experiencia en el sector de la
        construcción. Desde el año 2004, hemos estado trabajando en proyectos de
        todo tipo, desde pequeñas reparaciones en el hogar hasta grandes
        reformas en el interior y exterior.
      </p>
    </div>

    <div class="col text-end">
      <p class="ps-5 pt-5 pb-5 ms-5 mt-5 mb-5" id="pNuestroEquipo">
        Nuestro equipo está compuesto por profesionales altamente capacitados en
        cada especialidad del sector de la construcción, lo que nos permite
        ofrecer trabajos con acabados de primera calidad y aprovechar al máximo
        el espacio utilizando las últimas tendencias en decoración.
      </p>
    </div>
    <div class="col">
      <h2 class="p-5 m-5 text-center" id="hNuestroEquipo">Nuestro equipo</h2>
    </div>

    <div class="col">
      <h2 class="p-5 m-5 text-center" id="hValores">
        Valores e identidad de empresa
      </h2>
    </div>
    <div class="col">
      <p class="m-5 p-5" id="pValores">
        Antes de iniciar cualquier proyecto, realizamos un estudio personalizado
        con nuestros asesores técnicos e interioristas y presentamos el proyecto
        a nuestros clientes para asegurarnos de que están completamente
        satisfechos con el mismo.<br />
        Trabajamos con las mejores marcas en el mercado tanto nacional como
        europeo y ofrecemos una amplia selección de materiales a precios
        competitivos, siempre adaptándonos a las necesidades de nuestros
        clientes.
      </p>
    </div>
  </div>
</div>
<div class="grid">
  <ul id="hexGrid">
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#"
          ><div
            class="img"
            style="background-image: url(../../../assets/b1.jpeg)"
          >
            <h1 id="demo1">Proyecto 1</h1>
            <p id="demo2">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo,
              iure.
            </p>
          </div></a
        >
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <div class="img" style="background-image: url(../../../assets/b1.jpeg)">
          <h1>Proyecto 1</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, iure.
          </p>
        </div>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <div class="img" style="background-image: url(../../../assets/b1.jpeg)">
          <h1>Proyecto 1</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, iure.
          </p>
        </div>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <div class="img" style="background-image: url(../../../assets/b1.jpeg)">
          <h1>Proyecto 1</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, iure.
          </p>
        </div>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <div class="img" style="background-image: url(../../../assets/b1.jpeg)">
          <h1>Proyecto 1</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, iure.
          </p>
        </div>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <div class="img" style="background-image: url(../../../assets/b1.jpeg)">
          <h1>Proyecto 1</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, iure.
          </p>
        </div>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <div class="img" style="background-image: url(../../../assets/b1.jpeg)">
          <h1>Proyecto 1</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, iure.
          </p>
        </div>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <div class="img" style="background-image: url(../../../assets/b1.jpeg)">
          <h1>Proyecto 1</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, iure.
          </p>
        </div>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <div class="img" style="background-image: url(../../../assets/b1.jpeg)">
          <h1>Proyecto 1</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, iure.
          </p>
        </div>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <div class="img" style="background-image: url(../../../assets/b1.jpeg)">
          <h1>Proyecto 1</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, iure.
          </p>
        </div>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <div class="img" style="background-image: url(../../../assets/b1.jpeg)">
          <h1>Proyecto 1</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, iure.
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="container mw-100">
  <div class="row row-cols-xl-2 row-cols-1">
    <div class="col">
      <h2 class="pt-3">Servicios</h2>
      <p class="p-3">
        -Instalaciones de todo tipo: realizamos la instalación, reparación y
        mantenimiento de sistemas eléctricos, fontanería, domótica y calefacción
        entre otros.<br />
        -Obra civil: realizamos todo tipo de trabajos de construcción y reforma,
        desde la preparación del terreno hasta la finalización de la obra.<br />
        -Rehabilitación completa de viviendas: llevamos a cabo reformas
        integrales de viviendas, desde la actualización de las instalaciones
        hasta la renovación de baños y cocinas.<br />
        -Diseño y decoración: ofrecemos servicios de diseño y decoración para
        que tu hogar o negocio tenga una nueva imagen.
      </p>
      <button id="galeria" class="btn p-3">Galería</button>
    </div>
    <div class="col">
      <img src="../../../assets/b1.jpeg" id="fotoCocina" class="m-5" />
    </div>
  </div>
  <div class="row text-center justify-content-center">
    <h2 class="p-5">Calcula tu presupuesto personalizado</h2>
    <button id="calculadora" class="btn mb-5 w-25 p-3">Calculadora</button>
  </div>
</div>
