<footer class="footer-section">
  <div class="container">
    <div class="footer-cta pt-2 pb-2">
      <div class="row align-items-center text-center">
        <div class="col-xl-6 col-md-6">
          <div class="single-cta">
            <div class="cta-text">
              <h4>Llámanos</h4>
              <span>620 269 572 / 669 956 318</span>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-md-6">
          <div class="single-cta">
            <div class="cta-text">
              <h4>Envíanos un email</h4>
              <span>trojnarbcn@gmail.com</span>
            </div>
          </div>
        </div>
      </div>

      <hr />
      <div class="footer-content pt-2 pb-2">
        <div class="row align-items-center text-center">
          <div class="col-xl-4 col-lg-4 mb-50">
            <div class="footer-widget">
              <div class="footer-text">
                <p>
                  Con una gran experiencia en la industria, la empresa se
                  destaca por su capacidad para entregar proyectos innovadores y
                  a la altura de las expectativas de sus clientes.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 mb-50">
            <div class="footer-social-icon">
              <span>Síguenos en redes</span>
              <a href="https://www.facebook.com/profile.php?id=100062935764949" class="me-2"
                ><img src="../../../assets/facebook.png" width="30px"
              /></a>
              <a href="https://www.instagram.com/trojnarbcn"
                ><img src="../../../assets/insta.png" width="30px"
              /></a>
            </div>
          </div>
          <!--<div class="col-xl-4 footer-widget">
            <ul
              class="list-group list-group-flush"
              style="list-style-type: none"
            >
              <li><a href="#">Home</a></li>
              <li><a href="#">Sobre nosotros</a></li>
              <li><a href="#">Servicios</a></li>
              <li><a href="#">Calculadora</a></li>
              <li><a href="#">Contacto</a></li>
            </ul>
          </div>-->
        </div>
      </div>
    </div>
  </div>

  <div class="copyright-area">
    <div class="container">
      <div class="row copyright-text">
        <div class="col-6 align-items-center mt-2">
          <p>Copyright &copy; 2023, All Right Reserved</p>
        </div>
        <div class="col-6 text-end">
          <img src="../../../assets/LOGOFEO.jpg" id="logoFooter" alt="logo" />
        </div>
      </div>
    </div>
  </div>
</footer>
