<div class="row bg-light shadow-sm p-5">
  <div class="col">
    <h1 class="text-center">
      Crea tu presupuesto personalizado para tu cuarto de baño
    </h1>
    <p class="text-center m-auto pt-3">
      La calculadora es una herramienta diseñada para ayudarte a obtener una
      aproximación del precio total de la reforma de baño de tu vivienda. Con
      ella, puedes seleccionar los trabajos que deseas realizar, como pintura,
      electricidad, accesorios, entre otros, y obtener una estimación del
      presupuesto total. <br />
      Ten en cuenta que los precios obtenidos son orientativos y pueden variar
      dependiendo de la ubicación, la disponibilidad de materiales y otros
      factores. Contacta con nosotros para obtener un presupuesto más preciso.
    </p>
  </div>
  <hr />

  <form [formGroup]="budgetForm">
    <div class="row">
      <div class="col-xl-6 col-xl-6 col-md-6 col-sm-12">
        <div class="ms-3">
          <label for="derribos">Derribos (m2)</label>
          <input type="number" formControlName="derribos" />
        </div>
        <div>
          <input type="checkbox" id="instalaciones" (click)="toggleInst()" />
          <label for="instalaciones">Instalaciones</label>

          <div *ngIf="showInstalaciones">
            <ul>
              <li>
                <input
                  type="checkbox"
                  formControlName="agua"
                  (change)="onAguaChecked($event)"
                />
                <label for="agua">Agua</label>
              </li>
              <li>
                <input
                  type="checkbox"
                  formControlName="desague"
                  (change)="onDesagueChecked($event)"
                />
                <label for="desague">Desague</label>
              </li>
              <li>
                <input
                  type="checkbox"
                  formControlName="electricidad"
                  (change)="onElectricidadChecked($event)"
                />
                <label for="electricidad">Electricidad</label>
              </li>
              <li>
                <input
                  type="checkbox"
                  formControlName="completa"
                  (change)="onCompletaChecked($event)"
                />
                <label for="completa">Completa</label>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <input type="checkbox" id="paredes" (click)="toggleParedes()" />
          <label for="paredes">Paredes</label>

          <div *ngIf="showParedes" class="ms-5">
            <input type="number" formControlName="paredesDetail" />
            <label for="paredesDetail">Paredes (m2)</label>

            <br />
            <input type="checkbox" formControlName="puerta" />
            <label for="puerta">Puerta</label>
          </div>
        </div>

        <div class="ms-3">
          <label for="suelo">Suelo (m2)</label>
          <input type="number" formControlName="suelo" />
        </div>
        <div>
          <input type="checkbox" id="techo" (click)="toggleTecho()" />
          <label for="techo">Techo</label>

          <div class="ms-5" *ngIf="showTecho">
            <input type="number" formControlName="colocarTecho" />
            <label for="colocarTecho">Colocación (m2)</label>
            <br />
            <input type="number" formControlName="iluminarTecho" />
            <label for="iluminarTecho">Iluminación (m2)</label>
            <br />
            <input type="number" formControlName="pintarTecho" />
            <label for="pintarTecho">Pintura (m2)</label>
            <br />
          </div>
        </div>
      </div>

      <div class="col-xl-6 col-xl-6 col-md-6 col-sm-12">
        <input type="checkbox" id="accesorios" (click)="toggleAccesorios()" />
        <label for="accesorios">Accesorios</label>

        <div *ngIf="showAccesorios" class="ms-3">
          <input type="checkbox" (click)="toggleIn()" />
          <label for="inodoro">Inodoros</label><br />
          <div *ngIf="showIn" class="ms-3">
            <input type="checkbox" formControlName="inodoro1" />
            <label for="inodoro1">Inodoro suspendido 930 €</label>
            <input type="checkbox" formControlName="inodoro2" />
            <label for="inodoro2">Inodoro libre 560 €</label>
          </div>
          <input type="checkbox" (click)="toggleMueble()" />
          <label for="mueble">Mueble</label><br />

          <div *ngIf="showMueble" class="ms-3">
            <input type="checkbox" formControlName="mueble1" />
            <label for="mueble1">Mueble 750 €</label>
            <input type="checkbox" formControlName="mueble2" />
            <label for="mueble2">Mueble 1050 €</label>
            <input type="checkbox" formControlName="mueble3" />
            <label for="mueble3">Mueble 2100 €</label>
          </div>
          <input type="checkbox" (click)="toggleGrifoL()" />
          <label for="grifoL">Grifo lavabo</label><br />

          <div *ngIf="showGrifoL" class="ms-3">
            <input type="checkbox" formControlName="grifo1" />
            <label for="grifo1">Grifo 100 €</label>
            <input type="checkbox" formControlName="grifo2" />
            <label for="grifo2">Grifo 150 €</label>
            <input type="checkbox" formControlName="grifo3" />
            <label for="grifo3">Grifo 300€</label>
          </div>
          <input type="checkbox" (click)="toggleGrifoD()" />
          <label for="grifoD">Grifo ducha</label><br />

          <div *ngIf="showGrifoD" class="ms-3">
            <input type="checkbox" formControlName="grifo1d" />
            <label for="grifo1d">Grifo 260 €</label>
            <input type="checkbox" formControlName="grifo2d" />
            <label for="grifo2d">Grifo 360 €</label>
            <input type="checkbox" formControlName="grifo3d" />
            <label for="grifo3d">Grifo 800 €</label>
          </div>
          <input type="checkbox" (click)="togglePlatoD()" />
          <label for="platoD">Plato ducha</label><br />

          <div *ngIf="showPlatoD" class="ms-3">
            <input type="checkbox" formControlName="plato1" />
            <label for="plato1">Resina 720 €</label>
            <input type="checkbox" formControlName="plato2" />
            <label for="plato2">Obra 880 €</label>
            <input type="checkbox" formControlName="plato3" />
            <label for="plato3">Bañera de fibra blanca 690 €</label>
          </div>
          <input type="checkbox" (click)="toggleEspejo()" />
          <label for="espejo">Espejo</label><br />

          <div *ngIf="showEspejo" class="ms-3">
            <input type="checkbox" formControlName="espejo1" />
            <label for="espejo1">Espejo liso 220 €</label>
            <input type="checkbox" formControlName="espejo2" />
            <label for="espejo2">Manta antivaho 110 €</label>
          </div>
          <input type="checkbox" (click)="toggleMampara()" />
          <label for="mampara">Mampara</label><br />

          <div *ngIf="showMampara" class="ms-3">
            <input type="checkbox" formControlName="mampara1" />
            <label for="mampara1">Corredera 840 €</label>
            <input type="checkbox" formControlName="mampara2" />
            <label for="mampara2">Panel fijo 570 €</label>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="row">
    <h4 class="text-center">Total: {{ calculateBudget() }} €</h4>
  </div>
</div>
